:root {
  --cal-poly-green: #2E401C;
  --dark-moss-green: #3E4C22;
  --fern-green: #647332;
  --olivine: #A4B75C;
  --sage: #BFC882;
  --ecru: #BFAB67;
  --copper: #AD8042;
  --raw-umber: #915C27;
  --russet: #7B4618;
  --seal-brown: #532A09;
}

